body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141313; /* Set the background color to a specific color using hex code */
}

.container {
    position: absolute; /* Position the container absolutely */
    top: 50%; /* Position the container vertically at the middle of the viewport */
    left: 50%; /* Position the container horizontally at the middle of the viewport */
    transform: translate(-50%, -50%); /* Center the container both horizontally and vertically */
    display: inline-block; /* Ensure the container wraps its contents */
}

img {
    max-width: 100%; /* Ensure the image scales relative to its container */
    height: auto;
}

